<h1 class='headline'>Contact Us</h1>

<div class="row-fluid">
	<div class="span8">
		<%= render 'page/layouts/contact_form' %>
	</div>

	<div class="span4">
		<p> You can email or call us anytime. </p>
		<p> Need a bid on a project? <span class="need_bid">Click here.</span></p>

		 <span class="number">435.319.0361</span>
		 <span class="email">support@jensenlocksmithing.com</span>
	</div>
</div>