$main-green: #a8d974;
$main-gray: #585858;
$dark-gray: #4A4F53;
$main-cream: #fbf8dd;
$main-blue: #E2513D;
$faq-odd: #515160;
$faq-even: #4A4F53;

$white: #FFFFFF;
// New template Colors

$new-brown: #c5b487;
$font-grey: #343434;
$content-odd: #e6e6e6;
$content-even: #d5d5d5;
$nav-hover: #F3F3F3;
$font-green: #4a8000; // email on main page
$font-lighter-grey:  #59585a;
$form-border: #cccccc;
$form-submit: #f4f4f4;
$form-submit-shadow: #dddddd;

