<div id="header-wrapper" class="clearfix">
  <span id="slogan" class="hidden-phone"> Servicing Southern Utah Since 2008</span>
  <span id="call"> Call us anytime at<span class="white"> 435-319-0361</span></span>
  <%= link_to image_tag('google_plus.png', options = {alt: "Jensen Locksmith Google Plus", id: 'googleplus', class: 'visible-desktop'}), 'https://plus.google.com/108071383015892815290/' %>
  <%= link_to image_tag('facebook.png', options = {alt: "Jensen Locksmith Facebook", id: 'facebook', class: 'visible-desktop'}), 'https://www.facebook.com/pages/Jensen-Locksmithing/260604310728891' %>
  <div class="navbar">
    <div class="navbar-inner">    
      <%= render 'layouts/navigation' %>
    </div>
  </div>
</div>